<div class="content">
  <h2>Welcome to SubMinder, <%= name %>! 🚀</h2>
  <p>
    We are excited to have you on board. To get started, please verify your
    email address by clicking the button below:
  </p>
  <center>
    <a href="<%= url %>" class="button">Verify My Account</a>
  </center>
  <p>
    If you did not sign up for this account, you can safely ignore this email.
  </p>
  <p>This link will expire in 24 hours.</p>
</div>
