<div class="header">
  <h2>Renewal Alert 🔔</h2>
</div>
<div class="content">
  <p>Hello,</p>
  <p>This is a friendly reminder from SubMinder.</p>
  <p>
    Your subscription for <strong><%= subscriptionName %></strong> is set to
    renew in 3 days.
  </p>

  <p><strong>Renewal Date:</strong> <%= renewalDate %></p>
  <p>
    <strong>Amount:</strong>
    <span class="amount"><%= price %> <%= currency %></span>
  </p>

  <p>
    If you intended to cancel this subscription, please do so before the date
    above to avoid unwanted charges.
  </p>
  <p>Best regards,<br />The SubMinder Team</p>
</div>
