name: SubMinder CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test-backend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend # Important : On travaille dans le dossier backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: backend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Generate Prisma Client
        # On met une fausse URL pour que Prisma accepte de générer le client
        # (Il n'a pas besoin de vraie connexion pour juste générer les types)
        env:
          DATABASE_URL: "postgresql://dummy:dummy@localhost:5432/dummy"
        run: npx prisma generate

      - name: Run Tests
        env:
          DATABASE_URL: "postgresql://dummy:dummy@localhost:5432/dummy"
          PORT: 8000
          NODE_ENV: test
        run: npm test
